
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. Please download the "Salaries.csv" file from kaggle and complete the below exercises. Please submit the completed jupyter notebook file to D2L. 


| Exercise | Point |
| --- | --- |
| 1 | 3 |
| 2 | 2 |
| 3 | 5 |
| 4 | 5 |
| 5 | 5 |
| 6 | 5 |
| 7 | 5 |
| 8 | 5 |
| 9 | 5 |
| 11 | 5 |
| 12 | 5 |
| **Total** | **50** |

**Exercise 1**

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [4]:
# let's assume the variable name of head of DataFrame is head_of_df
head_of_df = sal.head()
print(head_of_df)

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

**Exercise 2 - Use the .info() method to find out how many entries there are.**

In [5]:
# print the result of the info() to know the datatype and number of entries of each column. 
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

**Exercise 3 - What is the average BasePay ?**

In [6]:
#first of all, extract the basepay. 
#let's assume a variable named basepay
basepay = sal['BasePay']

#basepay might have some NaN values. So for finding basepay we'll have to remove NaN values. 

basepay = basepay.dropna()

#once basepay is fetched, we have to take the sum of basepay and then divided by total number of entries. 

average_of_basepay = sum(basepay) / len(basepay)
print("Average BasePay is ", average_of_basepay)

Average BasePay is  66325.44884050643

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

In [7]:
#to fetch overtime pay we have to fetch the overtime column first. 
#let's name the variable name overtimepay 
overtimepay = sal['OvertimePay']

#finding out the maximum overtime pay using max() function, the maxium overtimepay is the highest overtime pay. 
#max() will not include any NaN so the maximum will be returned. Thus no needed to remove NaNs here. 

highest_overtimepay = max(overtimepay)

print("Highest amount of OvertimePay is ",highest_overtimepay)

Highest amount of OvertimePay is  245131.88

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [8]:
name_to_find = "JOSEPH DRISCOLL"

#we will make a sub dataset from the dataset from which we need the information. 

sub_dataset = sal[['EmployeeName','JobTitle']]

#filter the rows from sub_dataset which has EmployeeName of name_to_find

filtered_result = sub_dataset[sub_dataset['EmployeeName']==name_to_find]

print("Job title of ", name_to_find ," is ", filtered_result['JobTitle'][filtered_result['JobTitle'].index[0]])

Job title of  JOSEPH DRISCOLL  is  CAPTAIN, FIRE SUPPRESSION

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

In [9]:
name_to_find = "JOSEPH DRISCOLL"

#from the sal dataset let's filter the row where we have information. 
filtered_result = sal[sal['EmployeeName']==name_to_find]

print("Total Pay including benefits",filtered_result['TotalPayBenefits'][filtered_result['TotalPayBenefits'].index[0]])

Total Pay including benefits 270324.91

**Exercise 7 - What is the name of highest paid person (including benefits)?**

In [10]:
data_of_highest_paid_person = sal[sal['TotalPayBenefits'] == max(sal['TotalPayBenefits'])]
print("Name of the highest paid person is",data_of_highest_paid_person['EmployeeName'][data_of_highest_paid_person['TotalPayBenefits'].index[0]])

Name of the highest paid person is NATHANIEL FORD

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

In [11]:
data_of_lowest_paid_person = sal[sal['TotalPayBenefits'] == min(sal['TotalPayBenefits'])]
print("Name of the highest paid person is",data_of_lowest_paid_person['EmployeeName'][data_of_lowest_paid_person['TotalPayBenefits'].index[0]])

Name of the highest paid person is Joe Lopez

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [13]:
list_of_years = [2011, 2012, 2013, 2014]
annual_average = {}
for each_year in list_of_years:
    subset = sal[sal['Year']==each_year]
    mean_of_each_year = subset['BasePay'].mean()
    annual_average[each_year] = mean_of_each_year


for (key,value) in annual_average.items():
    print("Year ", key, " - ", value)

Year  2011  -  63595.956516774524
Year  2012  -  65436.40685742255
Year  2013  -  69630.0302164812
Year  2014  -  66564.42192449933

**Exercise 10 - How many unique job titles are there?**

In [14]:
total_job_titles = sal['JobTitle']
unique_job_titles = total_job_titles.unique()
print("Total number of unique job titles are",len(unique_job_titles))

Total number of unique job titles are 2159

**Exercise 11 - What are the top 5 most common jobs?**

In [15]:
job_counts = sal['JobTitle'].value_counts().head()
job_counts
# by default value_counts return the number of jobs by descending order.
print("Top 5 Most Common Jobs are:")
print(job_counts)

Top 5 Most Common Jobs are:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [16]:
import numpy as np
year = 2013
jobtitle_and_year = sal[['JobTitle','Year']]
filtered_results = jobtitle_and_year[jobtitle_and_year['Year']==year]
unique, counts = np.unique(filtered_results.value_counts().values, return_counts=True)
d = dict(zip(unique, counts))
print("Job Titles that were represented by only one person in 2013 are: " ,d[1])

Job Titles that were represented by only one person in 2013 are:  202

**Optional: Is there a correlation between length of the Job Title string and Salary?**

In [22]:
#NO